/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  color: #fff;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
}

button {
  background: #ff0000;
  color: #fff;

  font-family: "Roboto Mono", monospace;
  font-weight: bold;

  cursor: pointer;
  outline: none;

  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
}

/* CONTENT */

.video-container {
  position: relative;
  top: 0;
  z-index: -1;
}

video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
}

/* Máscara negra do vídeo e formulário */
.video-container__overlay,
.overlay-container--form 
{
  position: fixed;
  top: 0;

  width: 100%;
  height: 100%;
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

.overlay-container--form {
  visibility: hidden;
}

nav {
  display: flex;
  align-items: center;
  gap: 65px;

  font-size: 1.1rem;
  font-weight: 400;
}

nav > img {
  width: 60px;
  margin: 10px 0px 0px 30px;
}

a:hover {
  color: #ff0000;
  font-size: 1.2rem;
  transition: 0.4s ease;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  height: 90vh;
  padding: 100px;
}

.content-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.content-section > img {
  width: 380px;
}

.content-section > p {
  line-height: 30px;
  margin: 25px 0px 35px 0px;
}

.content__button {
  font-size: 1.2rem;
  width: 300px;
  height: 60px;
}

.content__button:hover {
  background: #fff;
  color: #000;
  font-size: 1.3rem;

  width: 320px;
  height: 65px;
  transition: 0.5s ease-out;
}

/* button com mesmo active */
.content__button:active,
.form-contact__button:active {
  opacity: 0.6;
  transition: 0.8ms ease-in-out;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;

  position: fixed;
  top: 25%;
  left: -400px; /* Esconder o formulário */
  transition: all 0.7s ease-in-out; /* Suaviza a entrada e saída */

  max-width: 400px;
  padding: 25px;

  border-radius: 5px 45px 45px;
  background: #fff;
}


.form-contact__input, 
 textarea {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;

  max-width: 350px;
  max-height: 250px;

  padding-left: 10px;
  height: 40px;

  background: #f3f3f3;
  outline-color: #ff0000;

  border: 1px solid;
  border-radius: 5px;
}

textarea {
  padding: 10px 0px 0px 10px;
  width: 350px;
  height: 150px;
}

.form-contact__button {
  width: 250px;
  height: 40px;

  margin: 0 auto;
  font-size: 1rem;
}

.visual-section__image {
  width: 400px;
}

/* container link whatsapp com texto tooltip */
.whatsapp-container {
  position: fixed;
  bottom:20px;
  right: 30px;
}

.whatsapp-link > img {
  width: 70px;
}

.whatsapp-link__image:hover {
  width: 75px;
  transition: 0.2s ease-in-out;
}

/* caixa de texto do link whatsapp */
.tooltip-text {
  background-color: #fff;
  color: #000;
  visibility: hidden;

  position: absolute;
  bottom: 90%;
  left: 0px;

  width: 200px;
  font-size: 1.2rem;
  text-align: center;

  padding: 5px 8px;
  margin-bottom: 10px;
  border-radius: 5px;

  transform: translateX(-60%); /* Ajustando a distância do eixo X */
  transition: opacity 0.3s;
}

/* Ao passar o mouse a mensagem aparece */
.whatsapp-link:hover .tooltip-text {
  visibility: visible;
}

/* RESPONSIVENESS */